@model IEnumerable<RebecaBarrezueta_Examen1P.Models.PromocionRB>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion_RB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaPromo_RB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZapatosID_RB)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion_RB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaPromo_RB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZapatosID_RB)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PromocionID_RB">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PromocionID_RB">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PromocionID_RB">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
